{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="./../static/css/style_inscription.css">
{%endblock head %}



{% block body %}

<body class="form-v9">
    <div class="page-content">
        <div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
            <form class="form-detail" action="/maj/mdp" method="post">
                <h2>Changer votre mot de passe</h2>
                <div classx="form-row-total">
                    <div class="form-row-maj">
                        <input autocomplete="off" autofocus type="password" name="ancien_mdp" id="ancien_mdp" class="input-text" placeholder="Ancien mot de passe" required>
                    </div>
                </div>
                <div classx="form-row-total">
                    <div class="form-row-maj">
                        <input autocomplete="off" autofocus type="password" name="new_mdp" id="new_mdp" class="input-text" placeholder="Nouveau mot de passe" required>
                    </div>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="changer" class="register" value="Modifier">
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock %}
