{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="./../static/css/style_inscription.css">
{%endblock head %}


{% block body %}
    
    
    <div class="page-content">
        <center>
        <div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
            <div class="form-detail" >
                <h2>Votre profil</h2>
                
            </div>
            <div class="encadrement-profil">
                <table>
                    <tbody>
                        
                        <tr>
                            <td>
                                <div style="color:white;">Pseudo :</div>
                            </td>
                            <td>
                                <div style="color:white;">{{ pseudo }}</div>
                            </td>
                            <td>
                                <a href="/maj/pseudo" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Modifier </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="color:white;">Mail :</div>
                            </td>
                            <td>
                                <div style="color:white;">{{ items[0][0] }}</div>
                            </td>
                            <td>
                                <a href="/maj/mail" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Modifier </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="color:white;">Mot de passe :</div>
                            </td>
                            <td>
                                <div style="color:white;">
                                    {% for lettre in items[0][1] %}
                                        *
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <a href="/maj/mdp" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Modifier </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="color:white;">Ville :</div>
                            </td>
                            <td>
                                <div style="color:white;">{{ items[0][3] }}</div>
                            </td>
                            <td>
                                <a href="/maj/ville" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Modifier </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="color:white;">Photo de profil :</div>
                            </td>
                            {% if photo == True %}
                                <td>
                                    <img src="../static/image/photo_profil/{{ pseudo }}" length="50px" width="50px">
                                </td>
                                <td>
                                    <a href="/maj/photo" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Modifier </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="/maj/photo" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Ajouter une photo </a>    
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </center>
    </div>

    

    

{% endblock %}
